.header {
  margin: 5.5rem auto 0;
  width: 70vw;
  height: 8.4rem;

  border-bottom: 0.1rem solid $border-color;

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

    &-left {
      display: flex;
      align-items: center;
      gap: 5.6rem;
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 4.6rem;
      position: relative;
    }

    &-menu {
      display: none;

      &:hover {
        path {
          fill: $icon-fill-color-dark;
        }
      }
    }

    &-links {
      display: flex;
      gap: 3rem;
    }

    &-link {
      position: relative;

      &:after {
        position: absolute;
        content: '';
        bottom: -4.5rem;
        left: 0;
        width: 100%;
        height: 0.4rem;
        background-color: $nav-link-border-color;
        display: none;
      }

      &:hover {
        &:after {
          display: block;
        }
      }
    }

    &-cart-container {
      position: relative;
    }

    &-cart-badge {
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;

      background-color: $bg-color-brand;
      width: 1.9rem;
      height: 1.3rem;
      border-radius: 0.65rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-cart {
      &:hover {
        path {
          fill: $icon-fill-color-dark;
        }
      }
    }

    &-avatar-xs {
      display: none;
    }

    &-avatar-sm,
    &-avatar-xs {
      border: 0.2rem solid transparent;
      transition: 0.1s all;

      &:hover {
        border: 0.2rem solid $avatar-border-color;
      }
    }
  }

  @media only screen and (max-width: $bp-l) {
    margin: 5rem auto 0;
    width: 75vw;

    &-nav {
      gap: 5rem;

      &-left {
        gap: 3.5rem;
      }

      &-right {
        gap: 2.5rem;
      }

      &-links {
        gap: 1.5rem;
      }
    }
  }

  @media only screen and (max-width: $bp-md) {
    margin: 4rem auto 0;
    width: 80vw;

    &-nav {
      &-left {
        gap: 3rem;
      }

      &-right {
        gap: 2rem;
      }

      &-links {
        gap: 1rem;
      }
    }
  }

  @media only screen and (max-width: $bp-s) {
    margin: 3rem auto 0;
    width: 85vw;
    height: 7.4rem;

    &-nav {
      &-left {
        gap: 1.6rem;
      }

      &-menu {
        display: block;
      }

      &-links {
        display: none;
      }
    }
  }

  @media only screen and (max-width: $bp-xs) {
    margin: 1.9rem 2.4rem 0;
    height: 4.8rem;
    border-bottom: none;

    &-nav {
      &-avatar-xs {
        display: block;
      }

      &-avatar-sm {
        display: none;
      }
    }
  }
}
