.header {
  margin: 5.5rem auto 0;
  width: 70vw;
  height: 8.4rem;

  border-bottom: 0.1rem solid $border-color;

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

    &-left {
      display: flex;
      gap: 5.6rem;
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 4.6rem;
    }

    &-links {
      display: flex;
      gap: 3rem;
    }
  }
}
