.main {
  margin: 9rem auto;
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(#{'min(100%, 30rem)'}, 1fr));
  column-gap: 6rem;
  row-gap: 4rem;
  justify-content: center;
  justify-items: center;

  &__left {
    max-width: 44.5rem;
    min-width: 30rem;

    @media only screen and (max-width: $bp-xs) {
      max-width: unset;
    }
  }

  &__right {
    max-width: 44.5rem;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-xs) {
      max-width: unset;
      width: 87vw;
    }
  }

  @media only screen and (max-width: $bp-l) {
    margin: 7rem auto;
  }

  @media only screen and (max-width: $bp-md) {
    margin: 6rem auto;
  }

  @media only screen and (max-width: $bp-s) {
    margin: 5rem auto;
  }

  @media only screen and (max-width: $bp-xs) {
    margin: 4rem 0;
    row-gap: unset;
  }
}
