.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: $bg-color-overlay;

  @media only screen and (max-width: $bp-xs) {
    display: none;
  }
}
