.image {
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-avatar {
    border-radius: 50%;
  }

  &-extra-small {
    width: 2.4rem;
    height: 2.4rem;
  }

  &-small {
    width: 5rem;
    height: 5rem;
  }

  &-medium {
    width: 8.8rem;
    height: 8.8rem;
  }

  &-large {
    width: 44.5rem;
    height: 44.5rem;
  }

  &-extra-large {
    width: 55.5rem;
    height: 55.5rem;
  }

  &-clickable {
    cursor: pointer;
  }
}
