.product-gallery {
  &__main-image {
    margin-bottom: 3.2rem;
    border-radius: 1.5rem;

    img {
      border-radius: 1.5rem;
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }

    @media only screen and (max-width: $bp-xs) {
      border-radius: unset;
      height: 300px;
      width: 375px;

      img {
        border-radius: unset;
      }
    }
  }

  &__secondary-images {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  &__secondary-image {
    flex: 1;
    max-width: 8.8rem;
    max-height: 8.8rem;
    min-width: 5rem;
    min-height: 5rem;
    background-color: $body-bg-color-primary;

    @media only screen and (max-width: $bp-xs) {
      display: none;
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }

    &.selected {
      box-shadow: 0 0 0 0.2rem $avatar-border-color;

      img {
        opacity: 0.25;
      }
    }
  }
}
