.product-gallery {
  @media only screen and (max-width: $bp-xs) {
    user-select: none;
    display: grid;
    align-items: center;

    justify-content: space-between;
  }

  &__main-image {
    margin-bottom: 3.2rem;
    border-radius: 1.5rem;

    img {
      border-radius: 1.5rem;
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }

    @media only screen and (max-width: $bp-xs) {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      border-radius: unset;
      height: 300px;
      width: 375px;

      img {
        border-radius: unset;
      }

      cursor: unset;
      pointer-events: none;
    }
  }

  &__next-icon__container,
  &__previous-icon__container {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    cursor: pointer;

    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    background-color: $body-bg-color-primary;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      svg path {
        stroke: $bg-color-brand;
      }
    }

    display: none;

    @media only screen and (max-width: $bp-xs) {
      display: flex;
    }
  }

  &__next-icon__container {
    justify-self: flex-end;
    margin-right: 2.47rem;
  }

  &__previous-icon__container {
    margin-left: 2.47rem;
  }

  &__secondary-images {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  &__secondary-image {
    flex: 1;
    max-width: 8.8rem;
    max-height: 8.8rem;
    min-width: 5rem;
    min-height: 5rem;
    background-color: $body-bg-color-primary;

    @media only screen and (max-width: $bp-xs) {
      display: none;
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }

    &.selected {
      box-shadow: 0 0 0 0.2rem $avatar-border-color;

      img {
        opacity: 0.25;
      }
    }
  }
}
