.text {
  //sizes
  &.base {
    font-size: $body-font-size;
  }

  &.small {
    font-size: $body-font-size-small;
  }

  &.xs {
    font-size: $body-font-size-xs;
  }

  //weight
  &.normal {
    font-weight: $body-font-weight-normal;
  }

  &.bold {
    font-weight: $body-font-weight-bold;
  }

  //line-height
  &.base-lh {
    line-height: $body-text-line-height;
  }

  &.large-1-lh {
    line-height: $body-text-line-height-large-1;
  }

  //colors
  &.primary {
    color: $body-text-color-primary;

    &:hover {
      color: $body-text-color-secondary;
    }
  }

  &.secondary {
    color: $body-text-color-secondary;

    &:hover {
      color: $body-text-color-primary;
    }
  }

  &.white {
    color: $body-text-color-white;
  }

  //clickable
  &.clickable {
    cursor: pointer;
  }
}
