.text {
  //sizes

  &.xs {
    font-size: $body-font-size-xs;
  }

  &.smaller {
    font-size: $body-font-size-smaller;
  }

  &.small {
    font-size: $body-font-size-small;
  }

  &.base {
    font-size: $body-font-size;
  }

  &.large-2 {
    font-size: $body-font-size-large-2;
  }

  &.largest {
    font-size: $body-font-size-largest;
  }

  //weight
  &.normal {
    font-weight: $body-font-weight-normal;
  }

  &.bold {
    font-weight: $body-font-weight-bold;
  }

  //line-height
  &.smaller-lh {
    line-height: $body-text-line-height-smaller;
  }

  &.base-lh {
    line-height: $body-text-line-height;
  }

  &.large-1-lh {
    line-height: $body-text-line-height-large-1;
  }

  &.large-2-lh {
    line-height: $body-text-line-height-large-2;
  }

  &.largest-lh {
    line-height: $body-text-line-height-largest;
  }

  //colors
  &.primary {
    color: $body-text-color-primary;
  }

  &.secondary {
    color: $body-text-color-secondary;
  }

  &.white {
    color: $body-text-color-white;
  }

  &.brand {
    color: $orange;
  }

  //clickable
  &.clickable {
    cursor: pointer;

    &.primary {
      &:hover {
        color: $body-text-color-secondary;
      }
    }

    &.secondary {
      &:hover {
        color: $body-text-color-primary;
      }
    }
  }
}
