/*=============================================
=            Text colors               =
=============================================*/
$body-text-color-primary: var(--body-text-color-primary, $grayish-blue-darkest) !default;
$body-text-color-secondary: var(--body-text-color-secondary, $grayish-blue-dark) !default;
$body-text-color-white: var(--body-text-color-white, $white) !default;
$body-text-color-brand: var(--body-text-color-brand, $orange) !default;
$body-text-color-disabled: var(--body-text-color-disabled, $grayish-blue) !default;

/*=============================================
=                  BG colors                  =
=============================================*/
$body-bg-color-primary: var(--bg-color-primary, $white) !default;
$bg-color-brand: var(--bg-color-brand, $orange) !default;
$bg-color-brand-light: var(--bg-color-brand-light, $orange-light) !default;
$bg-color-overlay: var(--bg-color-overlay, $black-transparent) !default;

/*=============================================
=             Other components                =
=============================================*/
$border-color: var(--border-color, $grayish-blue) !default;
$avatar-border-color: var(--avatar-border-color, $orange) !default;
$nav-link-border-color: var(--nav-link-border-color, $orange) !default;
$icon-fill-color: var(--icon-fill-color, $grayish-blue-dark) !default;
$icon-fill-color-dark: var(--icon-fill-color-dark, $grayish-blue-darkest) !default;
$icon-fill-color-white: var(--icon-fill-color-white, $white) !default;
