/*=============================================
=                 Colors                      =
=============================================*/

/* Primary */
$orange: hsl(26, 100%, 55%);
$orange-light: hsl(25, 100%, 94%);

/* Neutral */
$grayish-blue-darkest: hsl(220, 13%, 13%);
$grayish-blue-dark: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$grayish-blue-light: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black-transparent: hsla(0, 0%, 0%, 0.75);

/*=============================================
=                Typography                   =
=============================================*/

/* Font family */
$kumbh-sans: 'Kumbh Sans', sans-serif;

/* Font sizes */
$fs-small: 1.5rem; //15px
$fs-base: 1.6rem; //16px

/* Font weights */
$fw-normal: 400;
$fw-bold: 700;

/* Font line-heights */
$lh-base: 1.6rem; //16px
$lh-medium: 2.5rem; //25px
$lh-large-1: 2.6rem; //26px
$lh-large-2: 2.8rem; //28px

/*=============================================
=                Breakpoints                  =
=============================================*/

$bp-xs: 23.4375em; // 375px / 16 = 23.4375em
$bp-s: 48em; // 768px / 16 = 48em
$bp-md: 54.375em; // 900px / 16 = 54.375em
$bp-l: 67.5em; // 1080px / 16 = 62.5em
$bp-xl: 90em; // 1440px / 16 = 90em
