/*=============================================
=           General Definitions               =
=============================================*/
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%

  @media only screen and (max-width: $bp-md) {
    font-size: 56.25%; //1rem = 9px 9x/16px = 56.25%
  }

  @media only screen and (max-width: $bp-s) {
    font-size: 50%; //1rem = 8px 8px/16px = 50%
  }

  @media only screen and (max-width: $bp-xs) {
    font-size: 43.75%; //1rem = 7px 7x/16px = 43.75%
  }
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
}

button {
  cursor: pointer;
  font-family: $body-font-family;
  font-size: $body-font-size;
  border: none;
  color: $body-text-color-primary;
}

body {
  background-color: $body-bg-color-primary;
}
