/*=============================================
=           General Definitions               =
=============================================*/
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
}

button {
  cursor: pointer;
  font-family: $body-font-family;
  font-size: $body-font-size;
  border: none;
  color: $body-text-color-primary;
}

body {
  background-color: $body-bg-color-primary;
}
