/*=============================================
=         Root (define css variables)         =
=============================================*/
:root {
  --body-text-color-primary: #{$grayish-blue-darkest};
  --body-text-color-secondary: #{$grayish-blue-dark};

  --bg-color-primary: #{$white};

  --body-font-family: #{$kumbh-sans};

  --body-font-size: #{$fs-base};
  --body-font-size-small: #{$fs-small};

  --body-text-line-height: #{$lh-base};
  --body-text-line-height-large-1: #{$lh-large-1};

  --body-font-weight-normal: #{$fw-normal};
  --body-font-weight-bold: #{$fw-bold};

  --border-color: #{$grayish-blue};
  --avatar-border-color: #{$orange};
  --icon-fill-color: #{$grayish-blue-dark};
  --icon-fill-color-dark: #{$grayish-blue-darkest};
}
